## EAE - Introduction to Programming Languages for Data 
## Day 3 - 10/11/2025

### Instructor:  
Enric Domingo  
edomingod@professional.eae.es

#### Python fundamentals:

0. Recap from prev. session
1. Loops
   - for
   - while
   - break
   - continue
2. Functions
3. Dictionaries
4. Optional Exercises

## 0. Recap

In the last session we saw: Data Types conversion, some String methods, Python Lists, Comparison Operators, Conditional Statements, Loops and Functions.

In [1]:
clothes = []

Let's do one more exercise to recap:

Write a function that receives a list of names and a character as the parameters and returns the name that contains more times that letter. If there is a tie, return the first one.

In [2]:
two_dim = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12],
]

two_dim[1][2]

6

---
## 1. Loops

Loops are used to execute a block of code multiple times without having to write it for each iteration. We have 2 types of loops:

- **for**: executes a block of code for each element in a sequence.

- **while**: executes a block of code while a condition is True.

#### 1.1. For Loops

In [3]:
tools = ["hammer", "screwdriver", "wrench", "saw"]

for tool in tools:
    print(f"I have a {tool}")

I have a hammer
I have a screwdriver
I have a wrench
I have a saw

In [4]:
# The range() function

# range(<start>, <stop>, <step>)
# we need to create a list from the range() function to see the values

list(range(5))

[0, 1, 2, 3, 4]

In [5]:
# Printing all even numbers from 0 to 9

for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [6]:
# Simply repeating something n times

for _ in range(4):
    print("Hello")

Hello
Hello
Hello
Hello

In [7]:
all_names = ["John", "Mary", "Peter", "Jane", "Mark", "Chris", "Alice", "Bob"]

names_with_a = []

for name in all_names:
    if ("a" in name) or ("A" in name):
        names_with_a.append(name)

print(names_with_a)

['Mary', 'Jane', 'Mark', 'Alice']

#### 1.2. While Loops

```python	
while <condition>:
    <instructions>
```

In [8]:
i = 0
while i < 7:
    print(i)
    i += 1

0
1
2
3
4
5
6

In [9]:
i = 0
while i <= 7:
    print(i)
    i += 1

0
1
2
3
4
5
6
7

In [10]:
# while loops can be dangerous if we don't update the condition...

# while True:
#     print("This is an infinite loop")

In [11]:
teams = ["Barcelona", "Real Madrid", "Manchester United", "Juventus", "Bayern Munich", "Liverpool"]

print("Teams with long names:\n")
i = 0
while i < len(teams):
    if len(teams[i]) > 10:
        print(teams[i], " -> has", len(teams[i]), "characters")
    i += 1

Teams with long names:

Real Madrid  -> has 11 characters
Manchester United  -> has 17 characters
Bayern Munich  -> has 13 characters

In [12]:
# try doing the last example with a for loop

#### 1.3. break

The break statement is used to exit a loop before it is completed. It is normally used inside a conditional statement.

In [13]:
movies = [
    "The Godfather", 
    "The Shawshank Redemption", 
    "Schindler's List", 
    "Raging Bull", 
    "Casablanca", 
    "Citizen Kane", 
    "Gone with the Wind", 
    "The Wizard of Oz", 
    "Lawrence of Arabia"
]

searched_movie = "Casablanca"

for movie in movies:
    print("Looking at", movie, "...")
    if movie == searched_movie:
        print("We found it!")
        break

Looking at The Godfather ...
Looking at The Shawshank Redemption ...
Looking at Schindler's List ...
Looking at Raging Bull ...
Looking at Casablanca ...
We found it!

In [14]:
moisture_sensor_reads = [23, 19, 10, 1, 34, -5, 10, 22, 12, 15]

i = 0
while i < len(moisture_sensor_reads):
    print(f"Reading {i}: {moisture_sensor_reads[i]} %")
    if moisture_sensor_reads[i] < 0:
        print("WARNING: Negative value detected! Stopping the sensor...")
        break
    i += 1

Reading 0: 23 %
Reading 1: 19 %
Reading 2: 10 %
Reading 3: 1 %
Reading 4: 34 %
Reading 5: -5 %
WARNING: Negative value detected! Stopping the sensor...

#### 1.4. continue

The continue statement is used to skip the rest of the instructions in a loop and continue with the next iteration. It is normally used inside a conditional statement.

In [15]:
names = ["John", "MARY", "peter", "JANE", "Bob"]

for name in names:
    print(f"\nProcessing {name}...")
    if name.isupper():
        print("Already correct, continuing...")
        continue

    print("Converting to uppercase...")
    name = name.upper()
    print("Converted:", name)

Processing John...
Converting to uppercase...
Converted: JOHN

Processing MARY...
Already correct, continuing...

Processing peter...
Converting to uppercase...
Converted: PETER

Processing JANE...
Already correct, continuing...

Processing Bob...
Converting to uppercase...
Converted: BOB

---
## 2. Functions

Functions are blocks of code that can be executed multiple times. They are defined with the keyword **def** followed by the name of the function and the arguments between parentheses. Names of functions are normally the verbs of the action to perform. The body of the function is indented and it can optionally contain a return statement to return a value. Functions can also receive parameters to modify their behaviour.

In [16]:
def say_hello():
    print("Hello!")

In [17]:
# We need to call the function to execute it

say_hello()

Hello!

In [18]:
# We can send parameters to the function

def say_hello(name):
    print(f"Hello {name}!")

say_hello("John")

Hello John!

In [19]:
def say_hello(name, age):
    print(f"Hello {name}! You are {age} years old.")

say_hello("John", 25)
say_hello("Mary", 30)
say_hello("Peter", 40)

Hello John! You are 25 years old.
Hello Mary! You are 30 years old.
Hello Peter! You are 40 years old.

In [20]:
# Functions can return values

def add(a, b):
    
    return a + b

result = add(2, 3)
print(result)

5

In [21]:
add(2, 3)

5

In [22]:
def convert_dollar_to_euro(dollars, exchange_rate):
    euros = dollars * exchange_rate

    return euros

In [23]:
dollars = 100
exchange_rate = 0.91

euros = convert_dollar_to_euro(dollars, exchange_rate)

print(f"{dollars} dollars are {euros} euros")

100 dollars are 91.0 euros

In [24]:
print(f"{dollars} dollars are {convert_dollar_to_euro(dollars, exchange_rate)} euros")

100 dollars are 91.0 euros

In [25]:
# If functions don't return any value they will return a None object by default

def say_hello(name):
    print(f"Hello {name}!")

result = say_hello("John")
print("Result:", result)

Hello John!
Result: None

#### None

**None** is a special value that represents the absence of a value. It is returned by functions that don't have a return statement. It is also used to initialize variables that will be assigned a value later.

In [26]:
# One last example

def get_pay_amount(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)

    return pay_aftertax

In [27]:
pay_aftertax = get_pay_amount(num_hours=40, hourly_wage=24, tax_bracket=.22)

print(pay_aftertax)

748.8000000000001

In [28]:
get_pay_amount(40, 24, .22)     # this will also work, but it's less readable

748.8000000000001

In [29]:
num_hours=40
hourly_wage=24
tax_bracket=.22

get_pay_amount(num_hours, hourly_wage, tax_bracket)         # this way can be better

748.8000000000001

-----

#### Collection Data Types

- **Lists** (mutable, ordered, indexed, allows duplicates)
  
`my_list = [1, 2, 3, 4, 4, "cat", True, 3.14]`

- **Dictionaries** (mutable, unordered, indexed, no duplicate keys) {key: value}

`my_dict = {"name": "James", "surname": "Bond", "age": 45}`

- **Tuples** (immutable, ordered, indexed, allows duplicates)
  
`my_tuple = (1, 2, 2, "a", "a")`

- **Sets** (mutable, unordered, no duplicates)
  
`my_set = {1, 2, "a", 3.14}`

----  

## 3. Dictionaries

Dictionaries are unordered mappings for storing objects. Previously we saw how lists store objects in an ordered sequence, dictionaries use a key-value pairing instead. This key-value pair allows users to quickly grab objects without needing to know an index location.

Dictionaries use curly braces and colons to signify the keys and their associated values. For example:

```python
my_dict = {"key1": "value1", "key2": "value2"}
```

Dictionaries' keys can be strings, numbers, or tuples, but they must be immutable. Dictionaries' values can be anything, including lists or other dictionaries.

In [30]:
# Creating dictionaries

my_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}    # the most common way 

print(type(my_dict))
print(my_dict)

<class 'dict'>
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [31]:
my_dict = dict([("key1", "value1"), ("key2", "value2"), ("key3", "value3")])    # another way   

my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [32]:
my_dict = dict(key1="value1", key2="value2", key3="value3")         # another way    

my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [33]:
# Accessing values

print(my_dict["key1"])
print(my_dict["key3"])

value1
value3

In [34]:
# Adding new key-value pairs

my_dict["key4"] = "value4"

print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [35]:
# Updating values

my_dict["key1"] = "new_value1"

print(my_dict)

{'key1': 'new_value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [36]:
# Deleting key-value pairs

del my_dict["key1"]

print(my_dict)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [37]:
rand_dict = {
    "a": [1, 2, 3],
    "b": "hello",
    "c": True,
    "d": {"aa": 1, "bb": 2, "cc": 3},
}

In [38]:
# A more useful example

user1 = {
    "name": "John", 
    "age": 30, 
    "city": "New York",
    "email": "john@hello.com",
    "phone": "123456789",
    "has_license": False,
}

user2 = {
    "name": "Mary", 
    "age": 26, 
    "city": "Paris",
    "email": "mary@hello.com",
    "phone": "123123451",
    "has_license": True,
}

user3 = {
    "name": "Bob", 
    "age": 38, 
    "city": "Sao Paulo",
    "email": "bob@hello.com",
    "phone": "456370271",
    "has_license": True,
}

users = [user1, user2, user3]

for user in users:
    print(user["phone"])

123456789
123123451
456370271

In [39]:
for user in users:
    if user["has_license"]:
        print(user["name"], "has a license, send email to", user["email"])

Mary has a license, send email to mary@hello.com
Bob has a license, send email to bob@hello.com

In [40]:
# keys()

print(user1.keys())

dict_keys(['name', 'age', 'city', 'email', 'phone', 'has_license'])

In [41]:
# values()

print(user1.values())

dict_values(['John', 30, 'New York', 'john@hello.com', '123456789', False])

In [42]:
users_db = {            # every user id card will be its dictionary key, because every key has to be unique
    "65747488A": user1,
    "12345678B": user2,
    "98765432C": user3,
}

In [43]:
# I want to access to the name and phone number of the user with id card 12345678B

target_id = "12345678B"

name = users_db[target_id]["name"]
phone = users_db[target_id]["phone"]

print(f"ID: {target_id} \nName: {name} \nPhone: {phone}")

ID: 12345678B
Name: Mary
Phone: 123123451

In [44]:
# len()

print(len(users_db))            # number of users (keys)

3

In [45]:
for key, value in users_db.items():
    print("-----------")
    print("key:", key)
    print("value:", value)

-----------
key: 65747488A
value: {'name': 'John', 'age': 30, 'city': 'New York', 'email': 'john@hello.com', 'phone': '123456789', 'has_license': False}
-----------
key: 12345678B
value: {'name': 'Mary', 'age': 26, 'city': 'Paris', 'email': 'mary@hello.com', 'phone': '123123451', 'has_license': True}
-----------
key: 98765432C
value: {'name': 'Bob', 'age': 38, 'city': 'Sao Paulo', 'email': 'bob@hello.com', 'phone': '456370271', 'has_license': True}

In [46]:
# Now try to add a new user to the previous dictonary "database" having the following information:

# ID: 12345678D
# Name: Alice
# Age: 25
# City: Hong Kong
# Email: alice@hello
# Phone: 987654321
# Has license: True

# Your turn!

In [47]:
users_db

{'65747488A': {'name': 'John',
  'age': 30,
  'city': 'New York',
  'email': 'john@hello.com',
  'phone': '123456789',
  'has_license': False},
 '12345678B': {'name': 'Mary',
  'age': 26,
  'city': 'Paris',
  'email': 'mary@hello.com',
  'phone': '123123451',
  'has_license': True},
 '98765432C': {'name': 'Bob',
  'age': 38,
  'city': 'Sao Paulo',
  'email': 'bob@hello.com',
  'phone': '456370271',
  'has_license': True}}

In [48]:
users = [user1, user2, user3]

# ðŸ†• Add the new user Alice
new_user = {
    "id": "12345678D",
    "name": "Alice",
    "age": 25,
    "city": "Hong Kong",
    "email": "alice@hello",
    "phone": "987654321",
    "has_license": True,
}

# Append Alice to the list

users.append(new_user) 
# Print all phone numbers to verify
for user in users:
    print(user["phone"])

123456789
123123451
456370271
987654321

In [49]:
type(users)

list

In [50]:
type(users_db)

dict

In [51]:
users_db["12345678D"] = {
    "name": "Alice",
    "age": 25,
    "city": "Hong Kong",
    "email": "alice@hello",
    "phone": "987654321",
    "has_license": True,
}

## 4. Optional Exercises

#### Ex. 1

Write a program that given a list of lists of numbers, representing the salaries of the employees of a company in each team, prints the maximum value of each team. It has to use a loop to iterate through every team and find its maximum value to print it. 

Then calculate the total number of employees in the comany accross all the teams. (with code, not by hand, of course).

In [52]:
salaries_per_team = [
    [14000, 8700, 12000, 43000], 
    [10000, 12000, 10000, 22000, 14500, 19700], 
    [9000, 15000, 10300], 
    [16200, 7500, 11000, 18100, 19500]
]

In [53]:
# Calculate the maximum salary of each team and print it

In [54]:
# Calculate the total number of employees in the company accross all teams and print it

#### Ex 2. 

Now create a function that given the previous list, it returns another list with the total sum of salaries of each team. It has to create a list for the total salaries of each team, and create a loop that iterates over all teams and sums the salaries of each employee.

In [55]:
def calculate_total_teams_salaries_list(salaries_per_team):
    total_team_salaries = []
    # Your code here

In [ ]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert calculate_total_teams_salaries_list(salaries_per_team) == [77700, 88200, 34300, 72300]

print("Your function is correct!")

AssertionError:

#### Ex 3.

Write a function called check_divisible that receives two numbers as arguments and returns True if the first number is divisible by the second number and False otherwise.

In [ ]:
# Complete the function

def check_divisible(num1, num2):
    
    # Your code here
    ...

In [ ]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert check_divisible(9, 3) == True
assert check_divisible(10, 3) == False
assert check_divisible(10, 2) == True
assert check_divisible(10, 5) == True
assert check_divisible(1870, 34) == True

print("Your function is correct!")

AssertionError: