## EAE - Introduction to Programming Languages for Data 
## Day 2 - 05/11/2025

### Instructor:  
Enric Domingo  
*Machine Learning and Software Engineer at ERNI*  
edomingod@professional.eae.es

#### Python fundamentals:

0. Recap
1. Data types conversion
2. String methods
3. Lists
4. Comparison operators
5. Optional Exercises

---
## 0. Recap

Let's do a quick refresh of the previous session.

And now, let's put it in practice with this exercise:

Write a program that asks one number to the user, then another number, converts each of them to float with float() and then prints the sum, the difference, the product and the division of both numbers.

For example, if the user inputs num1 as 10 and num2 as 3, the program should print:

    You have entered 10.0 and 3.0  
    The sum is 13.0  
    The difference is 7.0  
    The product is 30.0  
    The quotient is 3.3333333333333335

In [2]:
# Ask the user for two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform calculations
sum_result = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

# Display the results
print(f"You have entered {num1} and {num2}")
print(f"The sum is {sum_result}")
print(f"The difference is {difference}")
print(f"The product is {product}")
print(f"The quotient is {quotient:.2f}")

You have entered 12.0 and 23.0
The sum is 35.0
The difference is -11.0
The product is 276.0
The quotient is 0.52

---
## 1. Data types conversion

Every data type has a constructor that can be used to convert it into a different data type. The most common data types conversions are:
- **int()**: normally used to convert a float into an integer or a string with character numbers into an integer. 
  
- **float()**: normally used to convert an integer into a float or a string with character numbers into a float.

- **str()**: normally used to convert an integer or a float into a string.

- **bool()**: normally used to convert an integer or a float into a boolean. Zero is converted into False and any other number into True. Also, an empty string is converted into False and any other string into True.

In [3]:
# int()

num = "123"
print(num, type(num))

num = int(num)    # converting the string to integer
print(num, type(num))

123 <class 'str'>
123 <class 'int'>

In [20]:
num + 5

128

In [11]:
print(int(3.14), int(3.99))     # converting float to integer
print(int(False), int(True))    # converting boolean to integer

3 3
0 1

In [14]:
# We cannot convert a string with letters, special characters or numbers with decimal points into an integer
# Uncomment and run the following lines one by one to see the error messages:

# print(int("3.14"))    # ValueError: invalid literal for int() with base 10: '3.14'
# print(int("3+4"))     # ValueError: invalid literal for int() with base 10: '3+4'
# print(int("abc"))     # ValueError: invalid literal for int() with base 10: 'abc'

In [15]:
# float()

num = 123
print(num, type(num))

num = float(num)    # converting the integer to float
print(num, type(num))

123 <class 'int'>
123.0 <class 'float'>

In [16]:
print(float("12.34"), float("3"))     # converting string to float
print(float(False), float(True))      # converting boolean to float

12.34 3.0
0.0 1.0

In [17]:
# str()

num = 123
print(num, type(num))

num = str(num)    # converting the integer to string
print(num, type(num))

123 <class 'int'>
123 <class 'str'>

In [23]:
print(str(3.14))                # converting float to string
print(str(False), str(True))    # converting boolean to string

3.14
False True

In [28]:
# bool()

print(bool(0), bool(1), bool(2), bool(-5))                              # converting integer to boolean

print(bool(0.0), bool(0.1), bool(-20.41))                               # converting float to boolean

print(bool(""), bool("False"), bool(" "), bool("True"), bool("abc"))    # converting string to boolean 

# only 0, 0.0 and "" will convert to False, rest all will convert to True

False True True True
False True True
False True True True True

### üßë‚Äçüíª **Now your turn:**

Convert the following input euros value into a float, so we can operate with it:

In [12]:
euros = input("Euros amount: ")

# your code here


euros = float(euros)
# ---

dollars = euros * 1.15   # this will raise an error if euros is not converted to float first

print(f"{euros:.2f} Euros is equal to: {dollars:.2f} Dollars")

12.00 Euros is equal to: 13.80 Dollars

---
## 2. Strings methods

#### 2.1. Common methods

In the previous lesson we saw what are strings and how to concatenate and print them. In this section we will see some other useful methods and operation that can be applied to strings:

- **len()**: returns the length of the string.

- **upper()**: returns the string in uppercase.

- **lower()**: returns the string in lowercase.

- **replace()**: replaces a substring with another substring.

- **split()**: splits the string into a list of substrings.

- **join()**: joins a list of substrings into a string.

- **strip()**: removes the leading and trailing characters of a string.

- **find()**: returns the index of the first occurrence of a substring.

- **count()**: returns the number of occurrences of a substring.

- **in**: returns True if a substring is contained in the string.

These are some of the most common methods, but there are more. You don't need to remember all of them, but you should know that they exist and how to find them when you need them.

In [13]:
# len(<str>)

print(len("abc"))
print(len("a b c"))
print(len("123")) 
print(len("123.45"))

3
5
3
6

In [38]:
name = "Isaac Newton"       # it also works with variables
print("The length of the name is", len(name), "characters")

The length of the name is 12 characters

In [48]:
# <str>.upper()

print("great!".upper())
print("John Smith".upper())

GREAT!
JOHN SMITH

In [14]:
# <str>.lower()

print("John Smith".lower())
print("THE NUMBER 123".lower())

john smith
the number 123

In [15]:
# <str>.replace(<old>, <new>)

print("James Stark".replace("Stark", "Bond"))

James Bond

In [47]:
print("This is bad bad bad!".replace("bad", "good"))   # it replaces all the occurrences of the old string

This is good good good!

In [45]:
text = "We.can.fix.this.replacing.dots.with.spaces"

print(text.replace(".", " "))

We can fix this replacing dots with spaces

In [43]:
text = "We can also remove all spaces"

print(text.replace(" ", ""))    # it can also be used to remove all the occurrences of a character if we replace it with an empty string

Wecanalsoremoveallspaces

In [49]:
# <str>.split(<sep>)

text = "I want every word of this sentence a part"

print(text.split())  # by default it splits on spaces

['I', 'want', 'every', 'word', 'of', 'this', 'sentence', 'a', 'part']

In [17]:
text = "I want every word of this sentence a part"
print(text.split("this"))  # we can specify the separator

['I want every word of ', ' sentence a part']

In [18]:
# <sep>.join(<list>)

print(" ".join(["I", "want", "every", "word", "of", "this", "list", "in", "a", "sentence"]))    # we can specify the separator before the .join() function

I want every word of this list in a sentence

In [19]:
# <str>.strip(<chars_to_delete>)

print("   I have a lot of spaces before and after   ".strip())    # by default it removes all the spaces before and after the string

I have a lot of spaces before and after

In [77]:
print("It can also remove initial or final characters,".strip(","))
print("...It can also remove initial or final characters...".strip("."))          # we can specify the characters to be removed

It can also remove initial or final characters
It can also remove initial or final characters

In [79]:
# <str>.find()

print("There is an apple in the fridge, bring the apple, please".find("apple"))    # it returns the index of the first occurrence of the substring

12

In [80]:
# <str>.count()

print("There is an apple in the fridge, bring the apple, please".count("apple"))   # it returns the number of occurrences of the substring

2

In [82]:
# <substr> in <str>

text = "My vehicles are a bike, a car, and a truck"

is_car = "car" in text
is_bus = "bus" in text

print(is_car)
print(is_bus)

True
False

#### 2.2. Special Characters in Strings

There are some special characters that can be used in strings. The most common are:

```python	
- \n: new line
- \t: tab
- \\: backslash
- \': single quote
- \": double quote
```

In [83]:
# New line character \n

text = "The firs line\nThe second line\nThe third line"

print(text)

The firs line
The second line
The third line

In [86]:
# Tab character \t

text = "The first column\tThe second column\tThe third column"

print(text)

The first column	The second column	The third column

In [90]:
# Backslash character \ to print special characters

print("We need to use two backslashes like this \\")

We cannot print a backslash like this \, we need to use two backslashes like this \

In [96]:
print("We can also print a double quote like this \", like in \"Hello\" ")

print('And if we use single quotes, we need to use a backslash to print a single quote like this \', like in don\'t')

We can also print a double quote like this ", like in "Hello"
And if we use single quotes, we need to use a backslash to print a single quote like this ', like in don't

#### 2.3. String formatting

There are different ways to format strings in Python. The most common are:

**str.format()**: This method is used to format strings by replacing the placeholders with the values of the variables. The placeholders are defined with curly brackets and the variables are passed as arguments to the method.

**f-strings**: This method is used to format strings by adding the variables directly into the string. The variables are defined with curly brackets and the string is preceded by the letter f.

In [53]:
# str.format()

a = 2
b = 3
text = "The sum of {} and {} is {}".format(a, b, a+b)
print(text)

The sum of 2 and 3 is 5

In [ ]:
# f-strings

a = 2
b = 3
text = f"The sum of {a} and {b} is {a+b}"
print(text)

In [70]:
# A useful application of this could be to customize file names:

employee = "John"
date = "27-11-23"

filename = f"{employee.lower()}_report_{date}.txt"

print(filename)

john_report_27-11-23.txt

#### 2.4. String indexing and slicing

Strings are sequences of characters, so they can be indexed and sliced. The indexing starts at 0 and the last character has index -1. The slicing is done with the notation [start:stop:step]. If the step is not specified, it is assumed to be 1. If the start is not specified, it is assumed to be 0. If the stop is not specified, it is assumed to be the length of the string.

In [58]:
word = "Python"

print(word[0])    # first character

P

In [60]:
print(word[1])
print(word[2])
print(word[3])
print(word[4])
print(word[5])

y
t
h
o
n

In [61]:
print(word[-1])   # last character

n

In [62]:
text = "Python is a great language"

print(text[0:6])   # first 6 characters

Python

In [67]:
print(text[12:17])      # characters from index 12 to 16

great

#### 2.5. Multiline strings

Multiline strings are defined with triple quotes. They are useful to define long strings that span multiple lines.

In [72]:
my_long_text = """This text is a document.

It has multiple lines.
Using triple quotes makes it easier to write long texts."""

print(my_long_text)

This text is a document.

It has multiple lines.
Using triple quotes makes it easier to write long texts.

In [97]:
# We can also use triple quotes to write a string in a single line

text = """This works too"""

print(text)

This works too

In [98]:
# Multiline strings can also use f-strings

company_name = "ABC"
city = "New York"

long_text = f"""The company {company_name} 
is located in {city}."""

print(long_text)

The company ABC
is located in New York.

### üßë‚Äçüíª **Now your turn:**

Make a template to respond the users of your app about an incidence with their email, referring to their name and the current date (take these 3 variables from the input() of the user). Then run a code to print the response message formatting these 3 input variables into the template.

Then print after the message how many characters are there in total in the message, and how many of those are spaces.

In [20]:
# Ask for user input
name = input("Enter the user's name: ")
email = input("Enter the user's email: ")
date = input("Enter the current date (e.g., 2025-11-05): ")

# Define the message template
template = f"""
Dear {name},

We have received your report about the issue associated with your email ({email}) on {date}.
Our support team is already reviewing the incident and will contact you as soon as possible.

Thank you for your patience and understanding.

Best regards,  
Customer Support Team
"""

# Print the formatted message
print(template)

# Count total characters and spaces
total_chars = len(template)
space_count = template.count(" ")

print(f"Total number of characters: {total_chars}")
print(f"Number of spaces: {space_count}")

Dear boyan zhang,

We have received your report about the issue associated with your email (boyan1206@gmail.com) on 2025-11-05.
Our support team is already reviewing the incident and will contact you as soon as possible.

Thank you for your patience and understanding.

Best regards,
Customer Support Team

Total number of characters: 309
Number of spaces: 42

---
## 3. Lists

Lists are ordered sequences of elements. They are defined with square brackets and the elements are separated by commas. The elements can be of any data type and they can be repeated. Lists are mutable, so they can be modified after they are created.

Lists are the first of the basic Collection Data Types in Python that we will see, here you can see a summary of all of them:

#### Collection Data Types

- **Lists** (mutable, ordered, indexed, allows duplicates)
  
`my_list = [1, 2, 3, 4, 4, "cat", True, 3.14]`

- **Dictionaries** (mutable, unordered, indexed, no duplicate keys) {key: value}

`my_dict = {"name": "James", "surname": "Bond", "age": 45}`

- **Tuples** (immutable, ordered, indexed, allows duplicates)
  
`my_tuple = (1, 2, 2, "a", "a")`

- **Sets** (mutable, unordered, no duplicates)
  
`my_set = {1, 2, "a", 3.14}`

In [1]:
my_bag = ["pen", "notebook", "phone", "keys", "wallet"]

print(my_bag)

['pen', 'notebook', 'phone', 'keys', 'wallet']

Lists can contain any data type, including other lists:

In [2]:
random_list = ["a", 1, True, 3.14, "b", False, 2.71, "c"]
print(random_list)

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_lists)

# Sometimes it's better to write a list in multiple lines to make it more readable
list_of_lists = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
print(list_of_lists)

['a', 1, True, 3.14, 'b', False, 2.71, 'c']
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
# Try to create a list with four lists in it:
# The first one containing the Q1 months of the year [Jan, Feb, Mar], the second one containing the Q2 months of the year [Apr, May, Jun], and so on.

#### 3.1. Indexing and slicing of lists

Lists, similarly to strings, are sequences of elements. So they can be also indexed and sliced. The indexing starts at 0 and the last element has index -1. The slicing is done with the notation [start:stop:step]. If the step is not specified, it is assumed to be 1. If the start is not specified, it is assumed to be 0. If the stop is not specified, it is assumed to be the length of the list.

In [3]:
sports_offer = ["football", "basketball", "tennis", "volleyball", "baseball"]

# indexing
print(sports_offer[0])

football

In [5]:
print(sports_offer[1])
print(sports_offer[2])

basketball
tennis

In [6]:
print(sports_offer[-1])
print(sports_offer[-2])

baseball
volleyball

In [8]:
# slicing [start:stop:step]
print(sports_offer[0:2])
print(sports_offer[1:4])

['football', 'basketball']
['basketball', 'tennis', 'volleyball']

In [10]:
print(sports_offer[2:])   # from index 2 to the end, equivalent to [2:len(sports_offer)]

['tennis', 'volleyball', 'baseball']

In [ ]:
print(sports_offer[-2:])   # from index -2 to the end, printing the last two elements

In [9]:
print(sports_offer[0:-1:2])    # from index 0 to the last element, step 2

['football', 'tennis', 'baseball']

In [ ]:
print(sports_offer[::2])      # this will do the same, by default start is 0 and stop is len(sports_offer)

In [11]:
fruits = ["apple", "banana", "orange", "grape", "kiwi", "pineapple"]

# all the fruits except the first and the last
print(fruits[1:-1])

['banana', 'orange', 'grape', 'kiwi']

In [ ]:
# try printing the last 3 fruits

#### 3.2. Changing elements in a list

Lists are mutable, so they can be modified after they are created. The elements of a list can be changed by assigning a new value to the element.

In [12]:
inventory = ["shirt", "t-shirt", "jeans", "jacket", "socks", "shoes"]

inventory[0] = "sweater"    # we can change the value of an element accessing it by its index
print(inventory)

['sweater', 't-shirt', 'jeans', 'jacket', 'socks', 'shoes']

In [ ]:
# try changing the value of the last element to "boots" using negative indexing

#### 3.3. List functions

There are some functions that can be applied to lists, the most common are:

- **len()**: returns the length of the list.

- **max()**: returns the maximum value of the list.

- **min()**: returns the minimum value of the list.

- **sum()**: returns the sum of the values of the list.√ß
  
- **sorted()**: returns a sorted copy of the list.

- **list()**: returns a list from a sequence.

- **in()**: returns True if an element is contained in the list.

- **append()**: adds an element to the end of the list.

- **extend()**: adds the elements of a list to the end of the list.

- **insert()**: inserts an element at the specified index.

- **remove()**: removes the first occurrence of an element.

- **pop()**: removes the element at the specified index.

- **clear()**: removes all the elements of the list.

- **count()**: returns the number of occurrences of an element.

- **index()**: returns the index of the first occurrence of an element.

In [21]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23]
colors = ["red", "green", "blue", "yellow", "orange", "purple"]

# len()

len(prime_numbers)    # length of the list

9

In [22]:
len(colors)

6

In [15]:
# max()

max(prime_numbers)    # maximum value of the list

23

In [22]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23]
colors = ["red", "green", "blue", "yellow", "orange", "purple"]
max(colors)           # maximum value of the list (alphabetically)

'yellow'

In [16]:
# min()

min(prime_numbers)    # minimum value of the list

2

In [24]:
min(colors)           # minimum value of the list (alphabetically)

'blue'

In [17]:
# sum()

sum(prime_numbers)    # sum of all the elements of the list

100

In [25]:
sum(colors)         # this will give an error, because we cannot sum strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
revenue = [45.76, 5.22, 12.34, 105.27, 34.56, 2.89, 67.89]

# sorted()

sorted(revenue)     # returns a new list with the elements sorted in ascending order b

[2.89, 5.22, 12.34, 34.56, 45.76, 67.89, 105.27]

In [26]:
sorted(colors)      # returns a new list with the elements sorted in alphabetical order

['blue', 'green', 'orange', 'purple', 'red', 'yellow']

In [19]:
sorted(revenue, reverse=True)    # returns a new list with the elements sorted in descending order

[105.27, 67.89, 45.76, 34.56, 12.34, 5.22, 2.89]

In [29]:
# list()

list("Python")      # converts a string into a list of characters

['P', 'y', 't', 'h', 'o', 'n']

In [30]:
list(range(5))      # creates a list of numbers from 0 to 4 using the range function, which we will see later

[0, 1, 2, 3, 4]

In [49]:
# in()

"red" in colors     # returns True if the element is in the list

True

In [91]:
# append()

colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors)

colors.append("black")    # adds an element at the end of the list

print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'blue', 'yellow', 'orange', 'purple', 'black']

In [92]:
# extend()

colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors)

colors.extend(["black", "white"])    # adds multiple elements from another list at the end of the list
print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'blue', 'yellow', 'orange', 'purple', 'black', 'white']

In [93]:
colors = ["red", "green", "blue", "yellow", "orange", "purple"]

colors.append(["black", "white"])    # this will add another list to the list, not its elements as in extend()
print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple', ['black', 'white']]

In [96]:
# insert(<index>, <element>)

colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors)

colors.insert(2, "magenta")    # adds an element at the specified index
print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'magenta', 'blue', 'yellow', 'orange', 'purple']

In [97]:
# remove(<element>)

print(colors)

colors.remove("yellow")    # removes the first occurrence of the element

print(colors)

['red', 'green', 'magenta', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'magenta', 'blue', 'orange', 'purple']

In [98]:
# pop(<index>)

print(colors)

used_color = colors.pop(2)    # removes the element at the specified index

print(colors)
print(used_color)

['red', 'green', 'magenta', 'blue', 'orange', 'purple']
['red', 'green', 'blue', 'orange', 'purple']
magenta

In [100]:
print(colors)

used_color2 = colors.pop()    # removes the last element if no index is specified

print(colors)
print(used_color2)

['red', 'green', 'blue', 'orange']
['red', 'green', 'blue']
orange

In [94]:
# clear()

revenue = [45.76, 5.22, 12.34, 105.27, 34.56, 2.89, 67.89]

revenue.clear()    # removes all the elements of the list

print(revenue)

[]

In [101]:
# count(<element>)

animals_observed = ["cat", "dog", "bird", "cat", "cat", "dog", "bird", "cat", "dog", "dog", "cat", "fish"]

print(animals_observed.count("cat"))    # returns the number of occurrences of the element

5

In [102]:
# index(<element>)

print(animals_observed.index("bird"))    # returns the index of the first occurrence of the element

2

### üßë‚Äçüíª **Now your turn:**

Given the following list of humidity % sensor reads: 
- remove the -1 value which is an error,  
- add the last following 2 new reads: [34, 51],   
- and get the maximum value from the list

In [3]:
humidity_reads = [45, 50, -1, 60, 55, 70, 65]

# your code here

---
## 4. Comparison operators

Comparison operators are used to compare two values. They return a boolean value (True or False) depending on the result of the comparison. The most common comparison operators are:

- equal (==)  
- not equal (!=)  
- greater than (>)  
- less than (<)  
- greater than or equal (>=)  
- less than or equal (<=)

In [99]:
a = 3
b = 5

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

#### 4.1. Combining Boolean Values

As we saw in the previous lesson, Boolean values can be combined with the logical operators **and**, **or** and **not**. The **and** operator returns True if both values are True. The **or** operator returns True if at least one of the values is True. The **not** operator returns the opposite of the value.

In [1]:
# We can build complex logics considering multiple conditions combined

# example: is a truck ready for delivery

have_fuel = True
truck_at_workshop = False
driver_available = True
is_weekday = True

is_truck_ready = have_fuel and not truck_at_workshop and driver_available and is_weekday

print("Truck ready for delivery:", is_truck_ready)

Truck ready for delivery: True

In [2]:
# example: invest in a given stock

price_threshold = 100
current_price = 95
market_trend_positive = True
last_quarter_good_results = True

should_invest = current_price < price_threshold or (market_trend_positive and last_quarter_good_results)

print("Should invest in the stock:", should_invest)

Should invest in the stock: True

### üë®‚Äçüíª **Your turn:**

Make a program to determine if we should apply a discount to our customer or not, based on the following logic:

We apply discounts on Mondays to customers that have a vip card, or to customers that are purchasing more than 100 eur

In [ ]:
vip_card = True
week_day = "Wednesday"
purchase_amount = 21

# --- your code here ---

apply_discount = vip_card and week_day in ["Monday"] or purchase_amount > 100

# ---

print("Apply discount:", apply_discount)

Apply discount: False

---
## 5. Exercises

#### Ex. 1

Write a program that detects how many times the substring "2023" appears in a text story and then it replaces all the occurrences of "2023" with "2024".

In [30]:
story = """In the year 2023, humanity had made a significant leap in technology. It was in 2023 when we finally established the first human colony on Mars. The project, aptly named "Mars 2023", was a testament to human will and innovation.

The world watched in anticipation as the first crew members of Mars 2023 took their first steps on the red planet. It was a moment that echoed Neil Armstrong's historic moon landing, but this time in the year 2023, and on a whole new planet.

Back on Earth, in 2023, people celebrated this achievement. It was a beacon of hope in a world that had seen its share of challenges. The year 2023 marked a new era for humanity, one where the stars were no longer out of our reach.

By the end of 2023, we had not only reached Mars but created a sustainable living environment there. The year 2023 will forever be remembered as the year we truly became a space-faring civilization.
"""

count_2023 = story.count("2023")

# Replace all occurrences of "2023" with "2024"
updated_story = story.replace("2023", "2024")

# Print results
print(f"The substring '2023' appears {count_2023} times.\n")
print("Updated story:\n")
print(updated_story)

The substring '2023' appears 9 times.

Updated story:

In the year 2024, humanity had made a significant leap in technology. It was in 2024 when we finally established the first human colony on Mars. The project, aptly named "Mars 2024", was a testament to human will and innovation.

The world watched in anticipation as the first crew members of Mars 2024 took their first steps on the red planet. It was a moment that echoed Neil Armstrong's historic moon landing, but this time in the year 2024, and on a whole new planet.

Back on Earth, in 2024, people celebrated this achievement. It was a beacon of hope in a world that had seen its share of challenges. The year 2024 marked a new era for humanity, one where the stars were no longer out of our reach.

By the end of 2024, we had not only reached Mars but created a sustainable living environment there. The year 2024 will forever be remembered as the year we truly became a space-faring civilization.

#### Ex. 2

The following provided list are the revenues of our company for the last year, month by month. Perform the following tasks:
- Calculate the total revenue for the year.
- Calculate the average monthly revenue.
- Identify the month with the highest revenue.
- Identify the month with the lowest revenue.
- Create 4 new lists, each one containing the revenues for each quarter of the year (Q1, Q2, Q3, Q4). (hint: use slicing)

In [ ]:
company_revenues_2024 = [28400, 31050, 27500, 29500, 33200, 36700, 49800, 42100, 39900, 45400, 48100, 52000]

In [ ]:

# Monthly revenues for 2024
company_revenues_2024 = [28400, 31050, 27500, 29500, 33200, 36700, 49800, 42100, 39900, 45400, 48100, 52000]

# 1 Calculate total revenue for the year
total_revenue = sum(company_revenues_2024)

# 2 Calculate the average monthly revenue
average_revenue = total_revenue / len(company_revenues_2024)

# 3 Identify the month with the highest revenue
max_revenue = max(company_revenues_2024)
max_month = company_revenues_2024.index(max_revenue) + 1  # +1 because months start at 1, not 0

# 4 Identify the month with the lowest revenue
min_revenue = min(company_revenues_2024)
min_month = company_revenues_2024.index(min_revenue) + 1

# 5 Create 4 new lists for each quarter (using slicing)
Q1 = company_revenues_2024[0:3]   # Jan‚ÄìMar
Q2 = company_revenues_2024[3:6]   # Apr‚ÄìJun
Q3 = company_revenues_2024[6:9]   # Jul‚ÄìSep
Q4 = company_revenues_2024[9:12]  # Oct‚ÄìDec

# 6 casulaculate the average revenue for each quarter
Q1_avg = sum(Q1) / len(Q1)
Q2_avg = sum(Q2) / len(Q2)
Q3_avg = sum(Q3) / len(Q3)
Q4_avg = sum(Q4) / len(Q4)
# Print results
print(f"Total revenue for 2024: {total_revenue}")
print(f"Average monthly revenue: {average_revenue:.2f}")
print(f"Highest revenue: {max_revenue} (Month {max_month})")
print(f"Lowest revenue: {min_revenue} (Month {min_month})")

print("\nQuarterly revenue details:")
print(f"Q1: {Q1}  Average: {Q1_avg:.2f}")
print(f"Q2: {Q2}  Average: {Q2_avg:.2f}")
print(f"Q3: {Q3}  Average: {Q3_avg:.2f}")
print(f"Q4: {Q4}  Average: {Q4_avg:.2f}")

Total revenue for 2024: 463650
Average monthly revenue: 38637.50
Highest revenue: 52000 (Month 12)
Lowest revenue: 27500 (Month 3)

Quarterly revenues:
Q1: [28400, 31050, 27500]
Q2: [29500, 33200, 36700]
Q3: [49800, 42100, 39900]
Q4: [45400, 48100, 52000]

Quarterly revenue details:
Q1: [28400, 31050, 27500]  Average: 28983.33
Q2: [29500, 33200, 36700]  Average: 33133.33
Q3: [49800, 42100, 39900]  Average: 43933.33
Q4: [45400, 48100, 52000]  Average: 48500.00