## EAE - Introduction to Programming Languages for Data 
## Day 8 - 26/11/2025

### Instructor:  
Enric Domingo  
*Machine Learning and Software Engineer at ERNI*  
edomingod@professional.eae.es

#### Python Libraries for Data:

0. Recap
1. Intro to Pandas
2. DataFrame
3. Main methods
4. Some examples and applications
5. Exercises

---
## 1. Recap

#### Numpy

Create an array of 100x100 full of zeros. Display it as an image with matplotlib. Then modify it to create a rectangle with 4 lines of 255s in the middle of the array. Display it again.

In [2]:
import numpy as np
import matplotlib.pyplot as plt

# Crate the array of zeros 




# plt.imshow(arr, cmap='gray')
# plt.show()

# Create the lines in the array image



# plt.imshow(arr, cmap='gray')
# plt.show()

---
## 2. Intro to Pandas

Pandas is a library for data manipulation and analysis. It offers data structures and operations for manipulating numerical tables and time series. It is built on top of the Numpy library. 

It allows us to work with data in a very similar way to how we would do it in Excel, but with the power of Python. So we can take .csv or Excel files, load them into Python with Pandas, manipualte them, visualize its data, and then save them again as .csv or Excel files.

Pandas is one of the most used libraries in Data Science, and it is a must for any Data Scientist or Data Analyst. 

Its main data structures are the Series and the DataFrame.

In [3]:
!pip install pandas --quiet

In [4]:
import pandas as pd

pd.__version__

'2.3.3'

---
## 3. DataFrame

A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, or a dictionary of Series objects. It is the most commonly used Pandas object.

It is a table with rows and columns, where each column has a name and a type. It is very similar to a dictionary of lists, where each list is a column of the table.

We can create a DataFrame from a dictionary of lists, or from a list of dictionaries.

In [5]:
companies_df = pd.DataFrame({"Nike": [6, 4, 1, 4], "Adidas": [2, 3, 1, 8], "Decathlon": [3, 4, 1, 1]})

companies_df

   Nike  Adidas  Decathlon
0     6       2          3
1     4       3          4
2     1       1          1
3     4       8          1

In [6]:
companies_df = pd.DataFrame({"Nike": [6, 4, 1, 4], "Adidas": [2, 3, 1, 8], "Decathlon": [3, 4, 1, 1]}, index=["Q1", "Q2", "Q3", "Q4"])

companies_df

    Nike  Adidas  Decathlon
Q1     6       2          3
Q2     4       3          4
Q3     1       1          1
Q4     4       8          1

In [7]:
companies_df["Nike"]

Q1    6
Q2    4
Q3    1
Q4    4
Name: Nike, dtype: int64

In [8]:
hotel_A = {
    "name": "Sunny Village",
    "stars": 3,
    "reviews": 4.1,
    "has_pool": True,
    "location": (41.2343, 101.3433),
    "email": "sunny@hello.com",
    "telephone": "632990123",
}

hotel_B = {
    "name": "Happy Hotel",
    "stars": 5,
    "reviews": 9.1,
    "has_pool": False,
    "location": (10.2139, 67.1209),
    "email": "happyhotel@hello.com",
    "telephone": "348937483",
}

hotel_C = {
    "name": "Perl Hotel",
    "stars": 2,
    "reviews": 2.6,
    "has_pool": True,
    "location": (3.1022, 97.3478),
    "email": "perlhotel@hello.com",
    "telephone": "148233483",
}


hotels_df = pd.DataFrame([hotel_A, hotel_B, hotel_C])

hotels_df

,name,stars,reviews,has_pool,location,email,telephone
0,Sunny Village,3,4.1,True,"(41.2343, 101.3433)",sunny@hello.com,632990123
1,Happy Hotel,5,9.1,False,"(10.2139, 67.1209)",happyhotel@hello.com,348937483
2,Perl Hotel,2,2.6,True,"(3.1022, 97.3478)",perlhotel@hello.com,148233483

In [9]:
df = pd.DataFrame(columns=["name", "stars", "reviews", "has_pool", "location", "email", "telephone"], 
                  data=[
                        ["Sunny Village", 3, 4.1, True, (41.2343, 101.3433), "sunny@hello.com", "632990123"],
                        ["Happy Hotel", 5, 9.1, False, (10.2139, 67.1209), "happyhotel@hello.com", "348937483"],
                        ]
)

df

,name,stars,reviews,has_pool,location,email,telephone
0,Sunny Village,3,4.1,True,"(41.2343, 101.3433)",sunny@hello.com,632990123
1,Happy Hotel,5,9.1,False,"(10.2139, 67.1209)",happyhotel@hello.com,348937483

In [10]:
# Pandas Series

series = pd.Series([10, 32, 13, 24, 65])    # A pandas series is a one-dimensional array of indexed data
 
series

0    10
1    32
2    13
3    24
4    65
dtype: int64

In [11]:
hotels_df["name"]    # A single column of a DataFrame is a Series as well

0    Sunny Village
1      Happy Hotel
2       Perl Hotel
Name: name, dtype: object

In [12]:
# Try to create a DataFrame called cars_df with the following information, you can use any method from above

# Columns: 
# Brand, Price, Year, Color, Mileage

# Rows:
# BMW, 5000, 2010, Black, 10000
# Mercedes, 7000, 2015, White, 20000
# Audi, 3000, 2000, Blue, 300000
# Toyota, 4000, 2018, Red, 400000
# Honda, 2000, 2005, Black, 500000

In [13]:
import pandas as pd

# 1. Define the data as a list of lists (each inner list is a row)
data = [
    ['BMW', 5000, 2010, 'Black', 10000],
    ['Mercedes', 7000, 2015, 'White', 20000],
    ['Audi', 3000, 2000, 'Blue', 300000],
    ['Toyota', 4000, 2018, 'Red', 400000],
    ['Honda', 2000, 2005, 'Black', 500000]
]

# 2. Define the column names
column_names = ['Brand', 'Price', 'Year', 'Color', 'Mileage']

# 3. Create the DataFrame
cars_df = pd.DataFrame(data, columns=column_names)

# Display the DataFrame
print(cars_df)

      Brand  Price  Year  Color  Mileage
0       BMW   5000  2010  Black    10000
1  Mercedes   7000  2015  White    20000
2      Audi   3000  2000   Blue   300000
3    Toyota   4000  2018    Red   400000
4     Honda   2000  2005  Black   500000

---
## 4. Main methods

- **pd.read_csv()** - Reads a .csv file into a DataFrame.

- **df.head()** - Returns the first 5 rows of the DataFrame.

- **df.tail()** - Returns the last 5 rows of the DataFrame.

- **df.info()** - Returns a summary of the DataFrame.

- **df.describe()** - Returns a summary of the numerical columns of the DataFrame.

- **df.shape** - Returns the number of rows and columns of the DataFrame.

- **df.columns** - Returns the names of the columns of the DataFrame.

- **df.index** - Returns the index of the DataFrame.

- **df.values** - Returns the values of the DataFrame as a numpy array.

- **df.T** - Transposes the DataFrame.

- **df.drop()** - Drops a column or row from the DataFrame.

- **df.isnull()** - Returns a DataFrame with True or False values depending on whether each value is null or not.

- **df.fillna()** - Fills the null values of the DataFrame with a given value.

- **df.loc[]** - Returns a row or rows of the DataFrame by index.

- **df.iloc[]** - Returns a row or rows of the DataFrame by position.

- **df.to_csv()** - Writes a DataFrame into a .csv file.

- **pd.read_excel()** - Reads an Excel file into a DataFrame.

- **df.to_excel()** - Writes a DataFrame into an Excel file.

- **Adding new columns** - We can add new columns to a DataFrame by assigning a list or a Series to a new column name.

- **df.groupby()** - Groups the DataFrame by a given column.

- **df.sort_values()** - Sorts the DataFrame by a given column.

- **df.apply()** - Applies a function to a column or row of the DataFrame.

- **df.unique()** - Returns the unique values of a column of the DataFrame.

In [14]:
houses_df = pd.read_csv("house_data.csv", index_col=0)
# Extracted from https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data?select=train.csv (only the train set called train.csv)

houses_df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [15]:
# head

houses_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [16]:
# tail

houses_df.tail()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [17]:
# info

houses_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   Alley          91 non-null     object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     588 non-null    object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    770 non-null    object
 57  GarageType     1379 non-null   object
 58  GarageYrBlt    1379 non-null   float64
 59  GarageFinish   1379 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1379 non-null   object
 63  GarageCond     1379 non-null   object
 64  PavedDrive     1460 non-null   object
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  PoolQC         7 non-null      object
 72  Fence          281 non-null    object
 73  MiscFeature    54 non-null     object
 74  MiscVal        1460 non-null   int64
 75  MoSold         1460 non-null   int64
 76  YrSold         1460 non-null   int64
 77  SaleType       1460 non-null   object
 78  SaleCondition  1460 non-null   object
 79  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(34), object(43)
memory usage: 923.9+ KB

In [18]:
# describe

houses_df.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [19]:
# shape

houses_df.shape

(1460, 80)

In [20]:
# columns

houses_df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [21]:
# index

houses_df.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [22]:
# values  (returns a numpy array)

houses_df.values

array([[60, 'RL', 65.0, ..., 'WD', 'Normal', 208500],
       [20, 'RL', 80.0, ..., 'WD', 'Normal', 181500],
       [60, 'RL', 68.0, ..., 'WD', 'Normal', 223500],
       ...,
       [70, 'RL', 66.0, ..., 'WD', 'Normal', 266500],
       [20, 'RL', 68.0, ..., 'WD', 'Normal', 142125],
       [20, 'RL', 75.0, ..., 'WD', 'Normal', 147500]],
      shape=(1460, 80), dtype=object)

In [23]:
# .T  (transpose)

houses_df.T

Id,1,2,3,4,5,6,7,8,9,10,...,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460
MSSubClass,60,20,60,70,60,50,20,60,50,190,...,90,20,180,20,20,60,20,70,20,20
MSZoning,RL,RL,RL,RL,RL,RL,RL,RL,RM,RL,...,RL,RL,RM,RL,FV,RL,RL,RL,RL,RL
LotFrontage,65.0,80.0,68.0,60.0,84.0,85.0,75.0,NaN,51.0,50.0,...,60.0,78.0,35.0,90.0,62.0,62.0,85.0,66.0,68.0,75.0
LotArea,8450,9600,11250,9550,14260,14115,10084,10382,6120,7420,...,9000,9262,3675,17217,7500,7917,13175,9042,9717,9937
Street,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,...,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MoSold,2,5,9,2,12,10,8,11,4,1,...,9,5,5,7,10,8,2,5,4,6
YrSold,2008,2007,2008,2006,2008,2009,2007,2009,2008,2008,...,2009,2009,2006,2006,2009,2007,2010,2010,2010,2008
SaleType,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD,...,WD,New,WD,WD,WD,WD,WD,WD,WD,WD
SaleCondition,Normal,Normal,Normal,Abnorml,Normal,Normal,Normal,Normal,Abnorml,Normal,...,Normal,Partial,Normal,Abnorml,Normal,Normal,Normal,Normal,Normal,Normal
SalePrice,208500,181500,223500,140000,250000,143000,307000,200000,129900,118000,...,136000,287090,145000,84500,185000,175000,210000,266500,142125,147500

In [24]:
houses_df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [25]:
# drop

houses_df.drop("LotArea", axis=1)

,MSSubClass,MSZoning,LotFrontage,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [26]:
# isnull

houses_df.isnull()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
5,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1457,False,False,False,False,False,True,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
1458,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1460,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False

In [27]:
houses_df.isnull().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

In [28]:
# fillna

houses_df.fillna(0)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,0,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,MnPrv,0,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [29]:
# loc  (select by label)

houses_df.loc[30]

MSSubClass           30
MSZoning             RM
LotFrontage        60.0
LotArea            6324
Street             Pave
                  ...
MoSold                5
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice         68500
Name: 30, Length: 80, dtype: object

In [30]:
houses_df.loc[30, "LotArea"]

np.int64(6324)

In [31]:
houses_df.loc[30, ["LotShape", "LandContour", "Utilities"]]

LotShape          IR1
LandContour       Lvl
Utilities      AllPub
Name: 30, dtype: object

In [32]:
# iloc  (select by position)

houses_df.iloc[0]

MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
Street             Pave
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 1, Length: 80, dtype: object

In [33]:
houses_df.iloc[-1, 0]

np.int64(20)

In [34]:
houses_df.iloc[20:30, 0:3]

    MSSubClass MSZoning  LotFrontage
Id
21          60       RL        101.0
22          45       RM         57.0
23          20       RL         75.0
24         120       RM         44.0
25          20       RL          NaN
26          20       RL        110.0
27          20       RL         60.0
28          20       RL         98.0
29          20       RL         47.0
30          30       RM         60.0

In [35]:
# to_csv

threshold_price = 500_000

expensive_houses_df = houses_df[houses_df["SalePrice"] > threshold_price]

expensive_houses_df.to_csv("expensive_houses.csv")

In [36]:
expensive_houses_df_2 = pd.read_csv("expensive_houses.csv", index_col=0)

In [40]:
# to_excel
!pip install openpyxl --quiet

expensive_houses_df.to_excel("expensive_houses.xlsx")

In [ ]:
# read_excel

pd.read_excel("expensive_houses.xlsx", index_col=0)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
179,20,RL,63,17423,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,NaN,NaN,0,7,2009,New,Partial,501837
441,20,RL,105,15431,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,555000
692,60,RL,104,21535,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,755000
770,60,RL,47,53504,Pave,NaN,IR2,HLS,AllPub,CulDSac,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,538000
804,60,RL,107,13891,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,1,2009,New,Partial,582933
899,20,RL,100,12919,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,3,2010,New,Partial,611657
1047,60,RL,85,16056,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,556581
1170,60,RL,118,35760,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,625000
1183,60,RL,160,15623,Pave,NaN,IR1,Lvl,AllPub,Corner,...,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000

In [41]:
# Adding new columns

houses_df["PricePerArea"] = houses_df["SalePrice"] / houses_df["LotArea"]

houses_df["PricePerArea"]

Id
1       24.674556
2       18.906250
3       19.866667
4       14.659686
5       17.531557
          ...
1456    22.104332
1457    15.939279
1458    29.473568
1459    14.626428
1460    14.843514
Name: PricePerArea, Length: 1460, dtype: float64

In [ ]:
# Filtering by column values

houses_df[houses_df["PricePerArea"] > 20]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PricePerArea
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,24.674556
7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,8,2007,WD,Normal,307000,30.444268
9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900,21.225490
12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,7,2006,New,Partial,345000,28.933244
14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,8,2007,New,Partial,279500,26.239204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,20,RL,78.0,9262,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,5,2009,New,Partial,287090,30.996545
1453,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,5,2006,WD,Normal,145000,39.455782
1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,10,2009,WD,Normal,185000,24.666667
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,8,2007,WD,Normal,175000,22.104332
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500,29.473568

In [ ]:
# groupby

houses_df.groupby("YrSold")["YrSold"].count()

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
Name: YrSold, dtype: int64

In [42]:
# 按街区分组，计算平均销售价格
neighborhood_prices = houses_df.groupby("Neighborhood")["SalePrice"].mean()

# 打印结果（如果你想看最贵的排前面，可以加个排序）
print(neighborhood_prices.sort_values(ascending=False))

Neighborhood
NoRidge    335295.317073
NridgHt    316270.623377
StoneBr    310499.000000
Timber     242247.447368
Veenker    238772.727273
Somerst    225379.837209
ClearCr    212565.428571
Crawfor    210624.725490
CollgCr    197965.773333
Blmngtn    194870.882353
Gilbert    192854.506329
NWAmes     189050.068493
SawyerW    186555.796610
Mitchel    156270.122449
NAmes      145847.080000
NPkVill    142694.444444
SWISU      142591.360000
Blueste    137500.000000
Sawyer     136793.135135
OldTown    128225.300885
Edwards    128219.700000
BrkSide    124834.051724
BrDale     104493.750000
IDOTRR     100123.783784
MeadowV     98576.470588
Name: SalePrice, dtype: float64

In [ ]:
houses_df.groupby("YrSold")["SalePrice"].mean()

YrSold
2006    182549.458599
2007    186063.151976
2008    177360.838816
2009    179432.103550
2010    177393.674286
Name: SalePrice, dtype: float64

In [ ]:
houses_df.groupby("YrSold")["LotArea"].max()

YrSold
2006     70761
2007    159000
2008    164660
2009    215245
2010     57200
Name: LotArea, dtype: int64

In [ ]:
# sort_values

houses_df.sort_values("SalePrice")

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PricePerArea
Id,,,,,,,,,,,,,,,,,,,,,
496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900,4.429496
917,20,C (all),50.0,9000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,10,2006,WD,Abnorml,35311,3.923444
969,50,RM,50.0,5925,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,GdWo,NaN,0,5,2009,WD,Abnorml,37900,6.396624
534,20,RL,50.0,5000,Pave,NaN,Reg,Low,AllPub,Inside,...,NaN,NaN,NaN,0,1,2007,WD,Normal,39300,7.860000
31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000,4.705882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,60,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,1,2009,New,Partial,582933,41.964797
899,20,RL,100.0,12919,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,3,2010,New,Partial,611657,47.345538
1170,60,RL,118.0,35760,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,NaN,NaN,NaN,0,7,2006,WD,Normal,625000,17.477629
1183,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,Corner,...,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000,47.686104
692,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub,Corner,...,NaN,NaN,NaN,0,1,2007,WD,Normal,755000,35.059206

In [ ]:
# apply

houses_df["SalePrice"].apply(lambda x: x / 1000)

Id
1       208.500
2       181.500
3       223.500
4       140.000
5       250.000
         ...
1456    175.000
1457    210.000
1458    266.500
1459    142.125
1460    147.500
Name: SalePrice, Length: 1460, dtype: float64

In [ ]:
# unique

houses_df["SaleCondition"].unique()

array(['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family'],
      dtype=object)

---
## 5. Some examples and applications

In [ ]:
# (RUN THIS PART TO GENERATE THE EXAMPLE DATAFRAME, YOU DON'T NEED TO UNDERSTAND IT) 
# creating a simualted example for sales

import pandas as pd
import numpy as np

# Define the number of sales
num_sales = 500

# Generate random sales data
np.random.seed(0)  # for reproducibility
categories = ["Electronics", "Clothing", "Furniture"]
category_data = np.random.choice(categories, num_sales)
sales_data = np.random.randint(20, 500, num_sales)
price_data = np.random.randint(100, 1000, num_sales)

# Create a DataFrame
sales_df = pd.DataFrame({
    "Category": category_data,
    "Sales": sales_data,
    "Price": price_data,
})

sales_df

        Category  Sales  Price
0    Electronics    246    223
1       Clothing    143    551
2    Electronics    363    314
3       Clothing    116    416
4       Clothing    359    841
..           ...    ...    ...
495  Electronics     39    439
496  Electronics    280    659
497    Furniture    168    693
498     Clothing    382    520
499    Furniture     94    299

[500 rows x 3 columns]

In [ ]:
# Checking the firs few rows

sales_df.head()

In [ ]:
# Checking the unique types of Categories

sales_df["Category"].unique()

In [ ]:
# Checking the number of sales per category

sales_df.groupby("Category")["Sales"].count()

In [ ]:
# Creating a new column with the total amount selled for each category

sales_df["Total"] = sales_df["Sales"] * sales_df["Price"]

sales_df

        Category  Sales  Price   Total
0    Electronics    246    223   54858
1       Clothing    143    551   78793
2    Electronics    363    314  113982
3       Clothing    116    416   48256
4       Clothing    359    841  301919
..           ...    ...    ...     ...
495  Electronics     39    439   17121
496  Electronics    280    659  184520
497    Furniture    168    693  116424
498     Clothing    382    520  198640
499    Furniture     94    299   28106

[500 rows x 4 columns]

In [ ]:
# Checking those sales with a total amount greater than 150000

sales_df[sales_df["Total"] > 150000]

        Category  Sales  Price   Total
4       Clothing    359    841  301919
6    Electronics    226    705  159330
11     Furniture    448    791  354368
16      Clothing    253    641  162173
18      Clothing    461    706  325466
..           ...    ...    ...     ...
489     Clothing    484    384  185856
490     Clothing    250    798  199500
491     Clothing    444    806  357864
496  Electronics    280    659  184520
498     Clothing    382    520  198640

[182 rows x 4 columns]

In [ ]:
# Ordering the Sales DataFrame by the total amount descending

sales_df.sort_values("Total", ascending=False)

        Category  Sales  Price   Total
45   Electronics    480    980  470400
382  Electronics    467    994  464198
202    Furniture    457    979  447403
199     Clothing    482    926  446332
185     Clothing    467    953  445051
..           ...    ...    ...     ...
493  Electronics     50    165    8250
110     Clothing     23    326    7498
304    Furniture     20    262    5240
32   Electronics     24    187    4488
244  Electronics     23    170    3910

[500 rows x 4 columns]

In [ ]:
# Save the DataFrame to a csv file
sales_df.to_csv('sales.csv', index=False)

---
## 6. Exercises

#### Ex 1.

Create a DataFrame from the following dictionary:

In [ ]:
users = {
    "id": list(range(1, 21)),
    "name": ["John", "Jane", "Alice", "Bob", "Eve", "Jack", "Jill", "Kate", "Mark", "Paul", "Bob", "Alice", "Jane", "John", "John", "Alice", "Jane", "John", "Alice", "Jane"],
    "telephone": ["123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159", "753753753", "637838399", "123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159"],
    "has_car": [True, True, False, True, False, True, False, True, False, True, False, False, False, True, True, False, False, False, True, True],
    "birth_date": ["1980-01-01", "1981-02-02", "1982-03-03", "1983-04-04", "1984-05-05", "1985-06-06", "1986-07-07", "1987-08-08", "1988-09-09", "1989-10-10", "2001-01-01", "2002-02-02", "2003-03-03", "2004-04-04", "2005-05-05", "2006-06-06", "2007-07-07", "2008-08-08", "2009-09-09", "2010-10-10"],
    "city": ["Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali", "Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali"],
}

In [44]:
# Your code here

import pandas as pd

users = {
    "id": list(range(1, 21)),
    "name": ["John", "Jane", "Alice", "Bob", "Eve", "Jack", "Jill", "Kate", "Mark", "Paul", "Bob", "Alice", "Jane", "John", "John", "Alice", "Jane", "John", "Alice", "Jane"],
    "telephone": ["123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159", "753753753", "637838399", "123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159"],
    "has_car": [True, True, False, True, False, True, False, True, False, True, False, False, False, True, True, False, False, False, True, True],
    "birth_date": ["1980-01-01", "1981-02-02", "1982-03-03", "1983-04-04", "1984-05-05", "1985-06-06", "1986-07-07", "1987-08-08", "1988-09-09", "1989-10-10", "2001-01-01", "2002-02-02", "2003-03-03", "2004-04-04", "2005-05-05", "2006-06-06", "2007-07-07", "2008-08-08", "2009-09-09", "2010-10-10"],
    "city": ["Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali", "Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali"],
}

users_df = pd.DataFrame(users)

users_df

    id   name  telephone  has_car  birth_date       city
0    1   John  123456789     True  1980-01-01  Barcelona
1    2   Jane  987654321     True  1981-02-02      Paris
2    3  Alice  123123123    False  1982-03-03     London
3    4    Bob  456456456     True  1983-04-04     Madrid
4    5    Eve  789789789    False  1984-05-05       Rome
5    6   Jack  321321321     True  1985-06-06      Pekin
6    7   Jill  654654654    False  1986-07-07  Amsterdam
7    8   Kate  987987987     True  1987-08-08       Lima
8    9   Mark  159159159    False  1988-09-09     Lisbon
9   10   Paul  753753753     True  1989-10-10     Kigali
10  11    Bob  637838399    False  2001-01-01  Barcelona
11  12  Alice  123456789    False  2002-02-02      Paris
12  13   Jane  987654321    False  2003-03-03     London
13  14   John  123123123     True  2004-04-04     Madrid
14  15   John  456456456     True  2005-05-05       Rome
15  16  Alice  789789789    False  2006-06-06      Pekin
16  17   Jane  321321321    False  2007-07-07  Amsterdam
17  18   John  654654654    False  2008-08-08       Lima
18  19  Alice  987987987     True  2009-09-09     Lisbon
19  20   Jane  159159159     True  2010-10-10     Kigali

#### Ex 2. 

Use the previous Users DataFrame to answer the following questions:

- How many users are there?
- How many users have a car?
- What is the average age of the users?
- What is the most common name?
- What is the most common city?

In [45]:
# Your code here

import pandas as pd
from datetime import datetime

# Re-create the dataframe to ensure it exists in this session
users = {
    "id": list(range(1, 21)),
    "name": ["John", "Jane", "Alice", "Bob", "Eve", "Jack", "Jill", "Kate", "Mark", "Paul", "Bob", "Alice", "Jane", "John", "John", "Alice", "Jane", "John", "Alice", "Jane"],
    "telephone": ["123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159", "753753753", "637838399", "123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159"],
    "has_car": [True, True, False, True, False, True, False, True, False, True, False, False, False, True, True, False, False, False, True, True],
    "birth_date": ["1980-01-01", "1981-02-02", "1982-03-03", "1983-04-04", "1984-05-05", "1985-06-06", "1986-07-07", "1987-08-08", "1988-09-09", "1989-10-10", "2001-01-01", "2002-02-02", "2003-03-03", "2004-04-04", "2005-05-05", "2006-06-06", "2007-07-07", "2008-08-08", "2009-09-09", "2010-10-10"],
    "city": ["Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali", "Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali"],
}
users_df = pd.DataFrame(users)

# 1. How many users?
total_users = len(users_df)

# 2. How many have a car?
users_with_car = users_df["has_car"].sum()

# 3. Average age?
# Convert birth_date to datetime
users_df["birth_date"] = pd.to_datetime(users_df["birth_date"])
# Calculate age (approximate by year difference)
current_year = datetime.now().year
users_df["age"] = current_year - users_df["birth_date"].dt.year
average_age = users_df["age"].mean()

# 4. Most common name?
most_common_name = users_df["name"].mode()[0]
# Count how many times it appears
name_count = users_df["name"].value_counts().max()

# 5. Most common city?
most_common_city = users_df["city"].mode()[0] # Note: there might be multiple if tie, taking first
city_count = users_df["city"].value_counts().max()

print(f"1. 总用户数: {total_users}")
print(f"2. 有车的用户数: {users_with_car}")
print(f"3. 平均年龄: {average_age} 岁")
print(f"4. 最常见的名字: {most_common_name} (出现了 {name_count} 次)")
print(f"5. 最常见的城市: {most_common_city} (出现了 {city_count} 次)")

1. 总用户数: 20
2. 有车的用户数: 10
3. 平均年龄: 30.0 岁
4. 最常见的名字: Alice (出现了 4 次)
5. 最常见的城市: Amsterdam (出现了 2 次)

#### Ex 3.

Create a new column in the previous DataFrame called "Continent" based on the city of each user. You can start by checking the unique countries and building a list of the countries for each continent. Then you can use the apply() method to apply a function to each row of the DataFrame to get the continent of each user.

In [46]:
# Your code here

import pandas as pd

# 1. Recreate the DataFrame (since context might be fresh)
users = {
    "id": list(range(1, 21)),
    "name": ["John", "Jane", "Alice", "Bob", "Eve", "Jack", "Jill", "Kate", "Mark", "Paul", "Bob", "Alice", "Jane", "John", "John", "Alice", "Jane", "John", "Alice", "Jane"],
    "telephone": ["123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159", "753753753", "637838399", "123456789", "987654321", "123123123", "456456456", "789789789", "321321321", "654654654", "987987987", "159159159"],
    "has_car": [True, True, False, True, False, True, False, True, False, True, False, False, False, True, True, False, False, False, True, True],
    "birth_date": ["1980-01-01", "1981-02-02", "1982-03-03", "1983-04-04", "1984-05-05", "1985-06-06", "1986-07-07", "1987-08-08", "1988-09-09", "1989-10-10", "2001-01-01", "2002-02-02", "2003-03-03", "2004-04-04", "2005-05-05", "2006-06-06", "2007-07-07", "2008-08-08", "2009-09-09", "2010-10-10"],
    "city": ["Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali", "Barcelona", "Paris", "London", "Madrid", "Rome", "Pekin", "Amsterdam", "Lima", "Lisbon", "Kigali"],
}
users_df = pd.DataFrame(users)

# 2. Check unique cities to make sure we cover all cases
unique_cities = users_df["city"].unique()
print("Unique Cities:", unique_cities)

# 3. Define the function to map city to continent
def get_continent(city):
    if city in ["Barcelona", "Paris", "London", "Madrid", "Rome", "Amsterdam", "Lisbon"]:
        return "Europe"
    elif city == "Pekin":
        return "Asia"
    elif city == "Lima":
        return "South America"
    elif city == "Kigali":
        return "Africa"
    else:
        return "Unknown"

# 4. Apply the function to create the new column
users_df["Continent"] = users_df["city"].apply(get_continent)

# 5. Show the result
print("\nUpdated DataFrame with Continent:")
print(users_df[["name", "city", "Continent"]].head(10))

Unique Cities: ['Barcelona' 'Paris' 'London' 'Madrid' 'Rome' 'Pekin' 'Amsterdam' 'Lima'
 'Lisbon' 'Kigali']

Updated DataFrame with Continent:
    name       city      Continent
0   John  Barcelona         Europe
1   Jane      Paris         Europe
2  Alice     London         Europe
3    Bob     Madrid         Europe
4    Eve       Rome         Europe
5   Jack      Pekin           Asia
6   Jill  Amsterdam         Europe
7   Kate       Lima  South America
8   Mark     Lisbon         Europe
9   Paul     Kigali         Africa

#### Ex 4. 

Save the modified DataFrame to a csv file called `users_processed.csv` without the index column.

In [47]:
# Your code here

# Save the DataFrame to a CSV file
users_df.to_csv("users_processed.csv", index=False)

print("File 'users_processed.csv' has been saved successfully.")

File 'users_processed.csv' has been saved successfully.

In [48]:
import pandas as pd

try:
    # 尝试读取刚才保存的 users_processed.csv
    # 用户可能习惯把表格数据统称为 "Excel"，实际上我们刚才存的是 CSV
    df_display = pd.read_csv('users_processed.csv')
    print("正在显示 'users_processed.csv' 的前 5 行内容：")
    print(df_display.head())
except FileNotFoundError:
    print("找不到 users_processed.csv 文件。")

正在显示 'users_processed.csv' 的前 5 行内容：
   id   name  telephone  has_car  birth_date       city Continent
0   1   John  123456789     True  1980-01-01  Barcelona    Europe
1   2   Jane  987654321     True  1981-02-02      Paris    Europe
2   3  Alice  123123123    False  1982-03-03     London    Europe
3   4    Bob  456456456     True  1983-04-04     Madrid    Europe
4   5    Eve  789789789    False  1984-05-05       Rome    Europe